name: golangci-lint
on:
  push:
    branches:
      - dev
      - main

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    container:
      image: golangci/golangci-lint:v2.6.2-alpine
    steps:
      - uses: actions/checkout@v5
      - name: golangci-lint fmt
        run: |
          golangci-lint fmt -d
