name: Release
on:
  release:
    types: [published]
  #push:
  #  tags: ["v*"]
jobs:
  release-icon:
    name: Release icon
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin]
        goarch: [amd64, arm64]
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
    - uses: actions/checkout@v6
    - uses: wangyoucao577/go-release-action@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        #compress_assets: false
